*{
    margin:0;
    padding:0;
    text-decoration:none;
    box-sizing:border-box;
    list-style:none;

}

body{
    width:100%;
    background-color:#eaeded;
    box-sizing:border-box;
}
.first{
    width:100%;
    height:70px;
       
    display:flex;
    align-items:center;
    flex-direction:column;
    background-color:#131a22;
}
.first img{
    width:130px;
    margin:0 10px;
    padding:5px 10px;
    border:1px solid transparent;
    border-radius:3px;
}
.first{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    
}
.flex{
    display:flex;
    justify-content:center;
}
.flex span{
    color:white;
}
.logo{
    flex:0.18;
    margin-right:10px;
    justify-content:space-between;
}
.logo i{
    margin-top:19px;
    font-size:15px;
}
.map {
    border:1px solid transparent;
    border-radius:3px;
    color:white;
    
}
.map{
    margin-top:12px;
    padding-left:5px;
    font-size:12px;
    
}
.map div{
   padding:5px;
   display:flex;
   flex-direction:column;
   cursor:pointer;

}
.map div span:nth-child(2){
    font-weight:bold;
    font-size:16px;
   
}
 

.right{
    justify-content:space-between;
    flex:0.29;
    margin-right:10px;
    align-items:center;        
}
.input{
    width:100%;
    background-color:white;
    flex:0.53;
    border-radius:5px;
    display:flex;
    margin:0 10px;
    align-items:center;
    overflow:hidden;
    justify-content:space-between;


}
.input input{
    outline:none;
    width:80%;
    font-size:16px;
    padding:10px 2px;
    border:none;


}
.input .fa-search{
    color:rgb(51,51,51);
    padding:10px 15px;
    font-size:20px;
    cursor:pointer;
    background-color:#febd69;
    border-radius:0 5px 5px 0;
    
}

.input div{
    display:flex;
   // flex-direction:column;
    justify-content:space-between;
    align-items:center;
    border-right:1px solid gray;
    background-color:rgb(236,234,234);
    padding:6px 0;
}
.input div span{
    border-radius:5px 0 0 5px;
    color:rgb(51,51,51);
    padding:6px 5px;
    font-size:11px;
    cursor:pointer;
}

.input .fa-caret-down{
    color:rgb(51,51,51);
    cursor:pointer;
    padding:5px;
}
/*
.first .lang img {
    width: 65px;
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
}
*/
.lang i{
    padding:0;
    margin:0;
    color:gray;

}
.lang{
    padding:5px;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    border:1px solid transparent;
    border-radius:3px;

}
.right img{
    width:30px;
    height:30px;
    padding:4px;
    margin:0;
    padding-top:10px;
    cursor:pointer;

}
.sign{
    display:flex;
    flex-direction:column;
    padding:3px 6px;
    cursor:pointer;
    border:1px solid transparent;
    border-radius:1px;

}
.sign span:first-child{
    font-weight:400;
    font-size:13px;
}
.sign span{
    display:inline-block;
    width:100%;
    font-weight:bold;
}
.flex .ac span{
    
    font-size: 15px;
    font-weight:bold;
    margin-right:5px;

}
.fa-shopping-cart{
    font-size:30px;

}
.ca{
    font-size:14px;
    font-weight:bold;
}
.sign i{
    color:grey;
}
.cart{
    align-items:flex-end;
    position:relative;
    padding:5px 10px;
    cursor:pointer;
    border:1px solid transparent;
    border-radius:3px;}
    .cart i{
        color:white;
    }

.cart p{
    position:absolute;
    font-weight:bolder;
    color:#131a22;
    top:7px;
    left:23px;

}
.cart:hover{
    border:1px solid white;
    border-radius:3px;

}
.logo  img:hover{
    border:1px solid white;
    border-radius:3px;


}
.map:hover{
     border:1px solid white;
    border-radius:3px;


}
.lang:hover{
     border:1px solid white;
    border-radius:3px;

}
.sign:hover{
     border:1px solid white;
    border-radius:3px;

}
.input .fa-search:hover{
    background-color:#fdae46;
}
.input div:hover{
    background-color:rgb(204,202,202);
    color:black;
}
/*second div css start here*/

.second {
    width:100%;
    height:42px;
    background-color:#212f3e;
    display:flex;
    align-items:center;
    color:white;
    overflow:hidden;
}
.second ul{
    align-items:center;
    list-style:none;
    display:flex;
    justify-content:flex-start;

}
.second span{
    font-size:15px;
}

.second-1 div{
    font-size:20px;
    cursor:pointer;
    border:1px solid transparent;
    border-radius:1px;
     display:flex;
    align-items:center;
    padding-left:5px;


}
.second-1 div span{
    padding:5px;
    cursor:pointer;
    
}
.second li{
    padding:5px 10px;
    font-size:15px;
    margin:7px 0;
    cursor:pointer;
    border:1px solid transparent;
    border-radius:3px;
}


.second-1{
    flex:0.06;
    display:flex;
    justify-content:center;
    align-items:center;

}

.second-2{
    display:flex;
    flex:0.74;
    justify-content:flex-start;
}
.second-3{
    flex:0.2;
    display:flex;
    justify-content:flex-end;
    margin-right:20px;
    overflow:hidden;
}
.second-3 span{
    padding:5px 10px;
    cursor:pointer;
    border:1px solid transparent;
    border-radius:3px;

}
.second-1 div:hover{
    border:1px solid white;
    
}
.second-2 li:hover{
     border:1px solid white;    
}
.second-3 span:hover{
     border:1px solid white;
}
/*main sliders css start here*/
.sec-1{
    position:relative;
    width:100%;
    height:1190px;
    box-sizing:border-box;
}
.slide img{
    width:1360px;
    height:100%;
}
.container{
    position:relative;
    width:100%;
    height:auto;
    min-height:500px;

}
.sliders{
    width:100%;
    overflow:hidden;
    position:relative;
    height:560px;
}
.image-box{
    display:flex;
    position:absolute;
    animation: carousel 30s alternate infinite;
    
}
@keyframes carousel{

    0%{
        left:0;
    }
    12%{
        left:0%;
    }
    24%{
        left:-1360px;
    }
    36%{
        left:-1360px%;
    }
    48%{
        left:calc(-1360*2px);
    }
    60%{
        left:calc(-1360*2px);
    }
    84%{
        left:calc(-1360*3px);
    }
    100%{
        left:calc(-1360*4px);
    }
}

.container-one{
    position:absolute;
    z-index:1;
    top:230px;
    left:0;
    width:100%;
    padding:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    background:linear-gradient(to bottom, transparent, #eaeded 30%);

}
.container-one .para{
    background-color:rgb(238,234,234);
    width:100%;
    text-align:center;
}
.container-one div:first-child p{
    font-size:14px;
    padding:12px 0;

}
.product-comp{
    width:100%;
    height:100%;
    display:flex;
    flex-wrap:wrap;
    box-sizing:border-box;
    margin:20px 0;
    justify-content:space-around;
        
}
.product-comp .box{

    width:315px;
    height:400px;
    background-color:white;
    margin-bottom:20px;
    
}
.box h3{
    margin-top:20px;
    margin-left:20px;
    font-size:20px;
    margin-bottom:10px;
    color:rgb(43,42,42);

}
.box a{
    font-size:13px;
    margin-left:20px;
    display:block;
    padding-top:30px;
    color:blue;
}

.box-a{
    overflow:hidden;
    background-color:white;
    margin-left:17px;
}
.box div img{
    
    width:167px;
    height:120px;
    cursor:pointer;
    margin-left:-20px;
    margin-right:0px;
    
    padding:15px;
    
          
}
.box-a div{
    
    display:inline-block;
}


.box-a div span{
    display:block;
    font-size:13px;
    margin-left:20px;

}

/*slider left right button and picture css start here*/

.sec-2{
    width:100%;
    height:315px;
    padding:25px;
    padding-top:0;
    padding-bottom:25px;
}

.slide-sec h3{
    font-size:20px;
    padding-bottom:5px;
}
.slide-sec{
    width:100%;
    height:100%;
    padding:20px 20px 10px 20px;
    overflow-x:hidden;
    background-color:white;
    position:relative;

}

.product-slide{
    display:flex;
    margin-top:5px;
    overflow-x:scroll;
    scroll-behavior:smooth;


}

.product-slide::-webkit-scrollbar {
    background-color: transparent;
    height: 7px; /* Height of the scrollbar */
    cursor: pointer;
}

.product-slide::-webkit-scrollbar-thumb {
    cursor:pointer;
    background-color: gray;
    border-radius: 10px; /* Rounded corners for scrollbar thumb */
    
}

.product-slide li{
    list-style:none;
    margin-right:10px;
    margin-bottom:15px;
    cursor:pointer;
}
.l-btn,.r-btn{
    background-color:rgb(255,255,255);
    height:90px;
    width:50px;
    text-align:center;
    cursor:pointer;
    top:35%;
    position:absolute;
    border:3px solid transparent;
}
.l-btn{
    border-radius:0 5px 5px 0;
    left:20px;
}
.r-btn{
    border-radius:5px 0 0 5px;
    right:20px;
}
.l-btn:hover{
    border:3px solid rgb(2,150,150);
}
.r-btn:hover{
    border:3px solid rgb(2,150,150);
}

.l-btn i,.r-btn i{
    color:rgb(54,54,54);
    position:absolute;
    font-size:20px;
    top:35%;
    left:13%;
    right:13%;


}





